.Board {
  background: #e0e0e0;
  margin: 0 16px;
  padding: 8px;
  border-radius: 4px;
  width: 250px;
}

.TaskList {
  width: 100%;
}

.TaskList ul {
  list-style: none;
  margin: 0;
  padding: 4px;
  width: 100%;
}